.w3-margin-right{margin-right:16px;
     /*important*/
    
    }
.w3-padding-32{padding-top:7px/*!important*/;
    padding-bottom:10px;
    font-size : 20px;
    /*!important*/}
.w3-content{max-width:980px}
.w3-content{margin-left:auto;margin-right:auto}

